# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
ENV/
.venv
.idea/
.vscode/settings.json
*.log
*.pid
*.seed
*.pid.lock
.DS_Store
dist/
build/
*.egg-info/
.eggs/
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
dmypy.json
*.prof
